<html>
<head>
    <style>
        body {
            font-family: "Menlo", monospace;
        }

        .line {
            display: block;
        }

        .line > * {
            display: inline-block;
        }

        .number {
            width: 10%;

            padding-right: 10px;
            text-align: right;

            vertical-align: top;
        }

        .text {
            width: 80%;
        }
    </style>
</head>
<body>
<% lines.forEach(function(line, index){ %>
    <div class="line">
        <!--<div class="number"><%= index %></div>-->
        <div class="text"><%= line %></div>
    </div>
<% }) %>
</body>
